*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header{
  height: 100px;
  text-align: center;
  padding: 2% 0 0;
}

nav{
  display: inline-block;
}


#Contenido{
  width: 700px;
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: aqua;
}

#tabla {
  width: 70em;
  height: 50em;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  border: 1em;
  display:table-row;
  display: none;
}

aside{
  height: 1334px;
  background: green;
  margin-top: 10px;
  float: left;
}

img-thumbnail{
  text-align: center;
}

aside h2{
  font-size: 40px;
  text-align: center;
  line-height: 500px;
}

footer{
  background: #000000;
  clear:both;
}

footer h2{
  font-size: 40px;
  text-align: center;
  padding: 20px;
  font-size: italic;
}
