*{
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header{
  height: 100px;
  text-align: center;
  padding: 2% 0 0;
}

nav{
  display: inline-block;
  padding: 2% 0 0;
}


#Contenido{
  width:700px;
  height: 1334px;
  margin-right: 20px;
  margin-left: 20px;
  float: right;
  margin-top: 20px;
  background-color: aqua;
}

aside{
  margin-top: 20px; 
  height: 1334px;
  background-color: #56F89A;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
}


img-thumbnail{
  margin-top: 40px;
}

.text-center{
  margin-top: 20px;
}

aside h2{
  font-size: 40px;
  text-align: center;
  line-height: 500px;
}

footer{
  background: #000000;
  clear:both;
}

footer h2{
  font-size: 40px;
  text-align: center;
  padding: 20px;
  font-size: italic;
}
